<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WindowCalculator.Properties.Settings>
            <setting name="WindowCalculator_WSMiniCalc_Service" serializeAs="String">
                <value>http://localhost:2540/Project128/Service.asmx</value>
            </setting>
        </WindowCalculator.Properties.Settings>
    </applicationSettings>
</configuration>