<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project130.Properties.Settings.STUDENTDATABASEConnectionString"
            connectionString="Data Source=HKEDU01\SQLEXPRESS;Initial Catalog=STUDENTDATABASE;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>